<main class="container home">
  <h1 class="project-title text-center">
    <%= @project.name %>
  </h1>
  <div class="row">
    <%= render "feature_card", feature_link: '', title: "Chat", img_src: "campfire", img_alt: "Huddle", description: "Team chats, ask questions and share." %>
    <%= render "feature_card", feature_link: '', title: "Message Board", img_src: "message-board", img_alt: "Message Board", description: "Post announcements, updates and keep feedback on-topic." %>
    <%= render "feature_card", feature_link: '', title: "To-dos", img_src: "to-do", img_alt: "To-Dos", description: "To-Do lists and working objective lists." %>
    <%= render "feature_card", feature_link: '', title: "Calendar", img_src: "schedule", img_alt: "Schedule", description: "Shared team schedule." %>
    <%= render "feature_card", feature_link: '', title: "Check-ins", img_src: "checkins", img_alt: "Automatic Check Ins", description: "Recurring questions for your team." %>
    <%= render "feature_card", feature_link: '', title: "Docs", img_src: "docs", img_alt: "Docs", description: "Shared team files." %>
  </div>
</main>